services:
  jenkins:
    image: jenkins/jenkins:lts-jdk17
    container_name: jenkins
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "50000:50000"
    networks:
      - jenkins-net
    volumes:
      - jenkins_home:/var/jenkins_home

  agent1:
    build: ./agent
    image: my-jenkins-ssh-agent:tf
    container_name: jenkins-agent-1
    restart: unless-stopped
    networks:
      - jenkins-net
    # optional expose for debugging from outside (not required)
    # ports:
    #   - "2222:22"
    volumes:
      - ./ssh:/sshkeys
    entrypoint: ["/bin/bash", "-lc"]
    command: >
      set -e;
      if [ ! -f /sshkeys/jenkins_agent_key ]; then
        echo "Generating SSH keypair for Jenkins agent...";
        ssh-keygen -t ed25519 -f /sshkeys/jenkins_agent_key -N "";
      fi;
      export JENKINS_AGENT_SSH_PUBKEY="$(cat /sshkeys/jenkins_agent_key.pub)";
      /usr/local/bin/setup-sshd

networks:
  jenkins-net:

volumes:
  jenkins_home:
