services:
  jenkins:
    image: jenkins/jenkins:lts-jdk17
    container_name: jenkins
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "50000:50000"
    networks:
      - jenkins-net
    volumes:
      - jenkins_home:/var/jenkins_home

  agent1:
    build: ./agent
    image: my-jenkins-ssh-agent:tf
    container_name: jenkins-agent-1
    restart: unless-stopped
    networks:
      - jenkins-net
    volumes:
      - ./ssh:/sshkeys
      - ./start-agent.sh:/start-agent.sh:ro
    entrypoint: ["/bin/bash", "/start-agent.sh"]
networks:
  jenkins-net:

volumes:
  jenkins_home:
